# Node modules
node_modules/
subhub/node_modules/
backend/node_modules/

# Logs
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# IDE directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build directories
build/
dist/
